{extends file="layout_application.tpl"}
{block name="body"}
    <h1>{__('Free Open Source CMS')}</h1>
    <ul>
        <li>{__('Un sistema di gestione dei contenuti open source')}</li>
        <li>{__('Creato e mantenuto da CVSolutions')}</li>
    </ul>
{/block}