{extends file="layout_administrator.tpl"}
{assign var="activeNav" value="1"}
{block name="body"}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
{/block}
